:root {
    --nav-a-height: 3em;
}

header {
    /* left: 5%; */
    margin-left: 5%;
    /* max-height: 300px; */
    /* height: children; */
    /* overflow: hidden; */
    text-transform: lowercase;
}

header img {
    align-content: flex-begin;
    width: 100%;
    /* margin-top: -33%; */
    /* top: 50% */
    /* left: 5%; */
}

div #logo-text {
    display: flex;
    font-size: 24px;
    flex-direction: column;
    width: 100px;
    height: 100px;
    padding: 0;
    margin: 0;
}

div #logo-text > span {
    letter-spacing: 1em;
    width: 100%;
    height: 100%;
}

nav {
    display: flex;
    flex-direction: row;
    /* width: 100%; */
    /* height: 100%; */
    /* padding: 0; */
    /* top: 6em; */
    /* top: calc(2 * var(--nav-a-height)); */
    /* top: 1000px; */
    margin: 0;
    margin-top: 78px;
    /* padding: 0; */
}


nav > div {
    display: flex;
    flex-direction: column;
    justify-context: space-evenly;
    max-width: 5cm;
    /* width: children; */
    /* height: 12em; */
    height: 100%;
    padding: 0;
    border: 1mm 1mm 0 0 solid;
    border-color: black;
    transition: width 200ms;
    overflow: hidden;
}


nav > div > a {
    height: var(--nav-a-height);
    width: 100%;
    overflow: hidden;
    padding: 0 1em;
    margin: 0;
}

nav a {
    font-size: 18px;
    /* height: 3em; */
    margin: 0 0;
    text-decoration: none;
    color: black;
    align-self: start;
    align-content: center;
    justify: left;
}

nav a:hover {
    background-color: #bbbbbb
}

nav > div, nav > a {
    border-style: solid solid none none;
    border-width: 1mm;
    border-color: black;
    /* margin: 0 0 -1mm -1mm; */
}

.submenu-btn {
/* nav > a { */
    /* transform: rotate(90deg); */
    overflow: hidden;
    writing-mode: vertical-rl;
    /* max-width: 3em; */
    width: calc(var(--nav-a-height) + 2mm);
    /* padding: 1em 1em; */
    /* padding: auto; */
    /* padding: 0.7em; */
    /* padding: 1em 0; */
    padding: 1em 0.5em;
    margin: auto;
    
    height: 100%;
    box-sizing: border-box;
    border: 0 1mm 0 1mm solid;
    /* border-color: black; */
}

#logo {
    display: block;
    border: none;
    /* width: 5cm; */
    height: 3cm;
    margin:  -15mm 0 0 0;
    padding: 0;

    /* width: 5cm; */
}


.hidden {
    visibility: hidden;
    /* max-height:0; */
    width: 0;
    /* transform: scaleX(0); */
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
}
