  <nav>
    <a href="/index.html" id="logo">
        {{ with resources.Get "images/logo_vectored.svg" }}
        <img src="{{ .Permalink }}" alt="Az Open Space logója.">
        {{ end }}
    </a>
    <!-- <p id="logo-text">open space</p> -->
      <!-- {{/* partial "menu.html" (dict "menuID" "main" "page" .) */}} -->
      <!---->
      {{/* range $section := site.Home.Sections */}}
        {{/* partial "menu.html" (dict "sectionID" $menuID "page" $) */}}
      {{/* end */}}

      {{ partial "menu.html" }}
      

  </nav>
