{{- /*
Renders a menu for the given menu ID.

@context {page} page The current page.
@context {string} menuID The menu ID.

@example: {{ partial "menu.html" (dict "menuID" "main" "page" .) }}
*/}}

{{- $page := .page }} {{- $menuID := .menuID }}
{{- with index site.Menus $menuID }}
    {{- if in $menuID "main" }}
        <a href="" id="{{- $menuID -}}" class="submenu-btn hidden" ><span>főbb menüpontok</span></a>
        <div id="{{- $menuID -}}-menu" class="submenu">
          {{- partial "inline/menu/walk.html" (dict "page" $page "menuEntries" .) }}
        </div>
    {{ else }}
        <a href="" id="{{- $menuID -}}" class="submenu-btn" ><span>{{- $menuID -}}</span></a>
        <div id="{{- $menuID -}}-menu" class="submenu hidden">
          {{- partial "inline/menu/walk.html" (dict "page" $page "menuEntries" .) }}
        </div>
    {{ end -}}
{{- end }}

{{- define "_partials/inline/menu/walk.html" }}
  {{- $page := .page }}
  {{- range .menuEntries }}
    {{- $attrs := dict "href" .URL }}
    {{- if $page.IsMenuCurrent .Menu . }} {{- $attrs = merge $attrs (dict "class" "active" "aria-current" "page") }}
    {{- else if $page.HasMenuCurrent .Menu .}}
      {{- $attrs = merge $attrs (dict "class" "ancestor" "aria-current" "true") }}
    {{- end }}
    {{- $name := .Name }}
    {{- with .Identifier }}
      {{- with T . }}
        {{- $name = . }}
      {{- end }}
    {{- end }}
      <a
        {{- range $k, $v := $attrs }}
          {{- with $v }}
            {{- printf " %s=%q" $k $v | safeHTMLAttr }}
          {{- end }}
        {{- end -}}
      >{{ $name }}</a>
  {{- end }}
{{- end }}
