{{- /*
Renders a menu for the given menu ID.

@context {page} page The current page.
@context {string} menuID The menu ID.

@example: {{ partial "menu.html" (dict "menuID" "main" "page" .) }}
*/}}

{{/*- $page := .page }} {{- $menuID := .menuID */}}
{{- range site.Sections -}}
    {{- if in .Slug "main" }}
        <a href="" id="{{- .Title -}}" class="submenu-btn hidden" ><span>főbb menüpontok</span></a>
        <div id="{{- .Title -}}-menu" class="submenu">
          {{- partial "inline/menu/walk.html"  .RegularPages }}
        </div>
    {{ else }}
        <a href="" id="{{- .Title -}}" class="submenu-btn" ><span>{{- .Title -}}</span></a>
        <div id="{{- .Title -}}-menu" class="submenu hidden">
          {{- partial "inline/menu/walk.html" .RegularPages }}
        </div>
    {{ end -}}
{{- end }}

{{- define "_partials/inline/menu/walk.html" }}
  {{- range . }}
    {{- $attrs := dict "href" .Permalink }}
    {{- $name := .Name }}
    {{- with .Title }}
      {{- with T . }}
        {{- $name = . }}
      {{- end }}
    {{- end }}
      <a
        {{- range $k, $v := $attrs }}
          {{- with $v }}
            {{- printf " %s=%q" $k $v | safeHTMLAttr }}
          {{- end }}
        {{- end -}}
      >{{ $name }}</a>
  {{- end }}
{{- end }}
