<!DOCTYPE html>
<html lang=hu>
    <head>
        <meta charset="utf-8" />
        <title>Open Space Egyesület - kezdőoldal</title>
        <link rel="stylesheet" href="style.css"/>
        <link rel="stylesheet" href="menu.css"/>
    </head>

    <body>
        <header>
            <a href="index.html" id="logo">
                <img src="logo_vectored.svg" />
                <div id="logo-text">
                    <p>open</p>
                    <p>space</p>
                </div>
            </a>
            <nav class="sidebar">
                <a href="" id="fobb" class="submenu-btn hidden" ><span>főbb menüpontok</span></a>
                <div id="fobb-menu" class="submenu">
                    <a href="">aktuális</a>
                    <a href="">a helyről</a>
                    <a href="">rólunk</a>
                    <a href="https://facebook.com/openspacebudapest">kapcsolat</a>
                </div>
                <a href="" id="fejl" class="submenu-btn" ><span>fejlesztő központ</span></a>
                <div id="fejl-menu" class="submenu hidden">
                    <a href="">autizmus</a>
                    <a href="">barátkozás</a>
                    <a href="">családterápia</a>
                    <a href="https://facebook.com/openspacebudapest">tanácsadás</a>
                </div>
                <a href="" id="tehetseg" class="submenu-btn" ><span>tehetséggondozás</span></a>
                <div id="tehetseg-menu" class="submenu hidden">
                    <a href="">töri műhely</a>
                    <a href="">termtud műhely</a>
                    <a href="">scifi műhely</a>
                    <a href="https://facebook.com/openspacebudapest">irodalmi műhely</a>
                </div>
                <a href="" id="kozosseg" class="submenu-btn" ><span>közösségi tér</span></a>
                <div id="kozosseg-menu" class="submenu hidden">
                    <a href="">programok</a>
                    <a href="">workshopok</a>
                    <a href="">táborok</a>
                    <a href="https://facebook.com/openspacebudapest" class="bg-blue">facebook</a>
                </div>
            </nav>
        </header>
        <main class="container">
            <h1>Bemutatkozunk!</h1>
            <p class="timestamp">2026. október 25.</p>
            <p>
                Hiszünk abban, hogy minden ember érték, és hogy a tehetség és az elfogadás kéz a kézben járhat. Ezért hoztuk létre az Open Space Budapest kezdeményezést, egy három az egyben közösségi modellt:
            </p>
            <h2>
                Fejlesztő és Terápiás Központ, ahol :
            </h2>
           <ul>
                <li>
                    Autizmus spektrumzavarral élő gyerekeket és fiatalokat támogatunk személyre szabott fejlesztésekkel. Kifejezetten fókuszálva az erősségeikre!
                </li>
                <li>
                    Továbbá segítünk a tanulási kihívásokkal szembesülő és szociálisan bátortalan, nehezen barátkozó, valamint szorongással nehezen megküzdő gyermekeknek, fiataloknak.
                </li>
                <li>
                    Pár és Családterápiás alkalmakkal segítséget adunk a családoknak a megküzdéseikben.
                </li>
                <li>
                    Pszichológiai tanácsadást biztosítunk.
                </li>
            </ul> 
            <h2>
                Tehetséggondozó Műhely, ahol:
            </h2>
            <ul>
                <li>
                    Tehetséges fiatalokkal foglalkozunk, hogy segítséget és inspirációt kapjanak a további fejlődésre.
                </li>
                <li>
                    Jelenleg működő foglalkozásaink: Történelem Tehetséggondozó Műhely, Kreatív és Alkotókör, Kultúra és Könyvklub.
                </li>
                <p>
                    Hamarosan indulnak: Scifi Klub, Természettudományos Műhely
                </p>
            </ul>
            <h2>
                Közösségi Tér, ahol:
            </h2>
            <ul>
                <li>
                    Programokat, klubokat, workshopokat, kiállításokat szervezünk!
                </li>
                <li>
                    Tematikus programok, az ünnepkörökhöz kötött aktivitások, várostörténeti séták, kirándulások.
                </li>
            </ul>

            <h2> Egyéb rizsa, hogy lehessen görgetni az oldalt: </h2>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis maxime dolores dignissimos laudantium excepturi quia vitae odio ipsam dolorum impedit fugit, id dolorem, deserunt quibusdam sint neque perferendis consequuntur est.
Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis maxime dolores dignissimos laudantium excepturi quia vitae odio ipsam dolorum impedit fugit, id dolorem, deserunt quibusdam sint neque perferendis consequuntur est.Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis maxime dolores dignissimos laudantium excepturi quia vitae odio ipsam dolorum impedit fugit, id dolorem, deserunt quibusdam sint neque perferendis consequuntur est.
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis maxime dolores dignissimos laudantium excepturi quia vitae odio ipsam dolorum impedit fugit, id dolorem, deserunt quibusdam sint neque perferendis consequuntur est.Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis maxime dolores dignissimos laudantium excepturi quia vitae odio ipsam dolorum impedit fugit, id dolorem, deserunt quibusdam sint neque perferendis consequuntur est.Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis maxime dolores dignissimos laudantium excepturi quia vitae odio ipsam dolorum impedit fugit, id dolorem, deserunt quibusdam sint neque perferendis consequuntur est.
            </p>
        </main>

        <footer>
            (c) 2026 Open Space Egyesület
        </footer>
        <script src="transition.js"></script>
    </body>
</html>
